@import "tailwindcss";

@theme {
  --color-medical-blue-50: #eef8fc;
  --color-medical-blue-100: #d5edf7;
  --color-medical-blue-500: #1b80ab;
  --color-medical-blue-600: #156588;
  --color-medical-blue-900: #0f384a;
  --font-sans: "Inter", "sans-serif";
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
